node_modules/
dist/
.artifacts/
*.log
.DS_Store
*.tsbuildinfo
# packages/*/node_modules/
packages/*/dist/
packages/*/dist-chrome/
packages/*/dist-firefox/
*.cpuprofile

# Environment
.env

# Editor files
.vscode/
.zed/
.idea/
.claude/
*.swp
*.swo
*~
.venv/

# Package specific
.npm/
coverage/
.nyc_output/
.agent_config/
tui-debug.log
compaction-results/
.opencode/
syntax.jsonl
out.jsonl
agent-*.html
out.html
packages/coding-agent/binaries/
todo.md
plans/
.eagent/hf-sessions/
.eagent/hf-sessions-backup/
collect.sh
.codegraph/*
.eagent/*
.github/*
packages/coding-agent/.eagent/sessions/*